# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Idea
.idea/

# Node modules
.node_modules/

# Env
.env
*.env

# Allure reports
allure-results/
allure-report/