openapi: 3.0.0
info:
  title: GoREST Users API - Test Documentation
  version: 1.0.0
  description: >
    OpenAPI specification for the GoREST /users endpoints used in the API test project.
    This documentation allows other testers to explore the API and create their own requests.
servers:
  - url: https://gorest.co.in/public/v2
    description: GoREST public API

paths:
  /users:
    post:
      summary: Create a new user
      description: Creates a new user in the GoREST system.
      tags:
        - Users
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
            example:
              name: "Adam Tester"
              gender: "male"
              email: "adam_tester@example.com"
              status: "active"
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '422':
          description: Validation error


components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    NewUser:
      type: object
      required:
        - name
        - gender
        - email
        - status
      properties:
        name:
          type: string
        gender:
          type: string
          enum: [male, female]
        email:
          type: string
          format: email
        status:
          type: string
          enum: [active, inactive]

    User:
      allOf:
        - $ref: '#/components/schemas/NewUser'
        - type: object
          properties:
            id:
              type: integer
              format: int64